.header-style {
    width: 1280px;
    margin: 0 auto;
    margin-top: 63px;
}

.header-style h1 a{
    color: black;
    font-size: 80px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

.header-style h1 a span {
    color: #4BCAFF;
}

.header-style nav ul {
    background-color: #35444F;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin-top: 40px;
}

.header-style nav ul li {
    height: 100%;
    width: 20%;
}

.header-style nav ul li a {
    color: #FFF;
    display: block;
    height: 100%;
    font-size: 20px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid #FFF;
}

.header-style nav ul li a:hover {
    background-color: #222F3A;
}

.a-border {
    border-right: 1px solid #FFF;
}

.main-style {
    width: 1280px;
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
}

.main-style nav {
    width: 345px;
    height: 395px;
    border: 1px solid #000;
    list-style-type: none;
}

.main-style nav ul {
    width: 100%;
    height: 100%;
}

.main-style nav ul li {
    padding: 26px 45px;
}

.main-style nav ul li a {
    color: #485863;
    text-decoration: none;
    font-size: 27px;
    font-family: 'Roboto', sans-serif;
}

.main-style nav ul li:hover {
    background-color: #DBDBDB;
    padding-left: 65px;
}

.main-style section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 885px;
    height: 530px;
    margin-left: 52px;
    border: 1px solid #000;
}

.main-style section img:hover {
    transition: 0.3s ease;
    transform: scale(1.2);
}

.aside-style p {
    color: #2C2C2C;
    font-size: 18px;
    line-height: 24px;
    width: 885px;
    margin-top: 37px;
    margin-left: 33%;
    font-family: 'Roboto', sans-serif;
}

.main-style-aside-text {
    margin-bottom: 13px;
}

.footer-style nav ul{
    background-color: #63696E7A;
    width: 1280px;
    height: 70px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin-top: 55px;
    margin-bottom: 30px;
}

.footer-style nav ul li a {
    color: #0C1927;
    text-decoration: none;
    font-size: 28px;
    font-family: 'Roboto', sans-serif;
    margin-right: 25px;
}

.footer-style-li {
    color: #010101;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    margin-left: 110px;
}

.footer-style nav ul li a:hover {
    color: #3181A6;
    text-decoration: underline;
}